.titulo{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.texto{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.body{
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px){
    .texto{
        font-size: large;
    }
}